<ngx-spinner 
  bdOpacity=0.9 
  bdColor="#333" 
  color="#fff" 
  type="square-jelly-box" 
  size="medium">
</ngx-spinner>
<div 
    class="layout_default"
    [ngClass]="{'unfolded-sidenav': (isUnfoldedSidenav$ | async)}">
    <div class="sidenav"
        [ngClass]="{ 'open-sidenav': (isOpenSidenavMobile$ | async)}">
        <div class="sub-sidenav">
            <sidenav></sidenav>
        </div> 
        <!-- <sidenav></sidenav> -->
   </div>
    <!-- Content (Vista) -->
    <div class="content">
        <!-- <static-router-outlet></static-router-outlet> -->
    </div>
</div>